.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui.button.show-button {
  margin-bottom: 1rem;
}

.main {
  font-size: 28px;
}

.sub {
  font-size: 18px;
}

.ui.info.message {
  font-size: 14px;
  text-align:center;
}

.ui.table td.positive {
  background-color: #cce0cc !important;
}

.ui.table td.negative {
  background-color: #ffcccc !important;
}

textarea {
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
